.book-btn {
}

.book-page {
  width: 100%;
  height: 100vh;
  background-color: #a7beae75;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 1fr;
  &__title {
    display: flex;
    grid-column: 1/-1;
    margin: 0 10%;
    border-bottom: 1px solid #a7beae;
    justify-content: center;
    align-items: center;
    &-h1 {
      position: absolute;
      top: 1%;
      font-size: 150px;
      font-weight: 500;
      opacity: 0.92;
      color: darken(antiquewhite, 91%);
    }
  }

  &__article-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 11vh 1fr;
    margin: 3% 0;
    border-right: 1px solid #a7beae;
    font-family: "Cardo", "Noto Sans JP", sans-serif;
  }
  &__navigation {
    grid-column: 1/-1;
    width: 80%;
    margin: 0 2% 0 auto;
    background-color: transparent;
    &-list {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      &-item {
        position: relative;
        width: 30%;
        height: 90%;

        &-btn {
          position: relative;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(0, 0, 0, 0.232);
          background-color: darken(antiquewhite, 55%);
          font-size: 1rem;
          font-family: "Cardo", "Noto Sans JP", sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          transition: background-color 0.3s;
          .arrow {
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%, 50%);
            opacity: 0.6;
            font-size: 1rem;
            transition: 0.4s;
          }
          &:hover {
            cursor: pointer;
            background-color: antiquewhite;
            .arrow {
              opacity: 0.4;
              transform: translate(-50%, 68%);
            }
          }
        }
        .date {
          pointer-events: none;
        }
        .window-to {
          position: absolute;
          left: 10%;
          top: 100%;
          background-color: green;
          transform: translateY(50%);
          width: 16vw;
          height: 15vw;
          opacity: 0;
          transition: transform 0.3s, opacity 0.3s;
          &.active {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  &__article-info {
    // background-color: blue;
    margin: 3% 0;
    font-family: "Cardo", "Noto Sans JP", sans-serif;
  }
}
