.book-page {
  width: 100%;
  height: 100vh;
  background-color: #a7beae75;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 1fr;
  &__title {
    display: flex;
    grid-column: 1/-1;
    margin: 0 10%;
    border-bottom: 1px solid #a7beae;
    justify-content: center;
    align-items: center;
    &-h1 {
      position: absolute;
      top: 1%;
      font-size: 150px;
      font-weight: 500;
      opacity: 0.92;
      color: darken(antiquewhite, 91%);
    }
  }

  &__article-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 11vh 1fr;
    margin: 3% 0;
    border-right: 1px solid #a7beae;
    font-family: "Cardo", "Noto Sans JP", sans-serif;
    overflow: hidden;

    .window-to {
      margin: 7vh;
      padding: 1vh;
      transform: translateY(3%);
      transition: 0.5s ease;
      grid-row: 2/-1;
      pointer-events: none;
      opacity: 0;
      &.active {
        transform: translateY(-5%);
      }
    }
    .select-guest {
      background-color: #a7beae75;
      grid-column: 1/2;
    }
    .select-room {
      background-color: #a7beae75;
      grid-column: 2/3;
    }
    .select-date {
      background-color: #a7beae75;
      grid-column: 1/-1;
      .calendar {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
  &__navigation {
    grid-column: 1/-1;
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    &-list {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      &-item {
        position: relative;
        width: 30%;
        height: 90%;
        overflow: hidden;
        &::before {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          transform: translateX(-101%);
          background-color: #a7beae;
          transition: 0.7s ease;
        }
        &:hover.li::before {
          transform: translateX(0);
        }

        &-btn {
          position: relative;
          width: 100%;
          height: 100%;
          font-size: 1rem;
          font-family: "Cardo", "Noto Sans JP", sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          background-color: transparent;
          border: 1px solid black;
        }
      }
    }
  }

  &__article-info {
    // background-color: blue;
    margin: 3% 0;
    font-family: "Cardo", "Noto Sans JP", sans-serif;
  }
}
