@import "./link-everyline.scss";

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5%;
  justify-content: center;
  z-index: 9999;
  &__navigation {
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    
  }
}
