@import "../components/scss/variables.scss";
@import "../components/scss/AnimationRoate.scss";

.home-page {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  @media (max-width: 800px) {
    background-image: url("../pictures//pexels-cottonbro-wine_Moment.jpg");
    background-size: cover;
    #toDisableForMobile {
      display: none;
    }
  }

  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include animation-rotate;
  }
  .lazysizes {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: scale(1.5);
    filter: $picture-contrast;
  }
  .infoAboutScroll {
    position: absolute;
    right: 0;
    top: 54%;
    font-size: 1.13rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.04rem;
    transform: translateY(-50%);
    writing-mode: vertical-lr;
    text-orientation: sideways;
    color: #b85042;
    z-index: -1;
    font-family: $secondary-font;
    animation: blink 1s linear infinite alternate;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


