.main-section{
position: relative;
width: 200vw;
height: 100vh;
left: 100vw;
display: grid;
grid-template-columns: repeat(2, 1fr);
filter: contrast(115%);
background-image: url("../pictures/pexels-cottonbro-3-cut.avif");
.main-section__page-1{
    // background-color: darken(rgb(43, 41, 40), 2)
}
.main-section__page-2{
// background-color: darken(rgb(43, 41, 40), 2)

}

}