@import "../components/scss/variables.scss";
.main-section {
  position: relative;
  width: 200vw;
  height: 100vh;
  left: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $main-color;
  .main-section__page-1 {
    position: relative;
    &-description {
      width: 30%;
      font-size: 1.8rem;
      font-weight: 200;
      color: $main-color-medium;
      padding: 19% 2% 2% 8%;
      line-height: 110%;
      letter-spacing: 0.04rem;
      span {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3.33rem;
      }
    }
    #natureIconLobby {
      position: fixed;
      bottom: 4vh;
      left: 127vw;
      width: 9vw;
      z-index: 1;
       opacity: 0.9;
    }
    .bgc-color-1 {
      position: absolute;
      width: 65%;
      height: 95%;
      right: 2%;
      top: 2.5%;
      background-color: darken($main-color, 5%);
    }
    .bgc-color-2 {
      position: absolute;
      width: 56%;
      height: 80%;
      right: 0;
      top: 0;
      margin: 3% 3%;
      background-color: rgba(250, 235, 215, 0.552);
      h2 {
        width: 20%;
        font-size: 4rem;
        font-weight: 300;
        text-transform: capitalize;
        color: $main-color-medium;
        padding: 2%;
        line-height: 100%;
        letter-spacing: 0.08rem;
        text-shadow: 0.052rem 0 0 $main-color-dark;
      }
    }
    .wrapper {
      display: flex;
      position: absolute;
      height: 100%;
      width: 55%;
      bottom: 10%;
      right: -5.4%;
      z-index: 2;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .main-section__page-1-lobby {
        width: 110%;
        filter: $picture-contrast brightness(90%);
        transition: transform 0.3s 0.1s ease-in-out;
      }
    }
    &-plants {
      position: absolute;
      width: 70%;
      right: 40%;
      top: 35%;
      z-index: 1;
      filter: brightness(35%) $picture-contrast;
    }
    &-quote {
      position: absolute;
      bottom: 3%;
      left: 0;
      width: 40%;
      font-size: 2rem;
      font-weight: 200;
      text-transform: capitalize;
      letter-spacing: 0.08rem;
      color: #fff;
      text-shadow: 0.125rem 0 0 $main-color-dark;
      z-index: 3;
    }
  }
  .main-section__page-2 {
    position: relative;
    #natureIconMenu {
      position: fixed;
      bottom: 2vh;
      left: 228vw;
      width: 11vw;
      margin: 2vh 1vw;
       opacity: 0.9;
    }
    .wrapper2 {
      display: flex;
      position: absolute;
      height: 80%;
      width: 60%;
      bottom: 10%;
      right: 3%;
      .main-section__page-1-baroque {
        object-fit: cover;
        width: 100%;
        filter: contrast(103%);
      }
    }
  }
}
