.book-page {
  width: 100%;
  height: 100vh;
  background-color: #a7beae75;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 20vh 1fr;
      grid-template-rows: 20vh 1fr;
}

.book-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
  margin: 0 10%;
  border-bottom: 1px solid #a7beae;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-page__title-h1 {
  position: absolute;
  top: 1%;
  font-size: 150px;
  font-weight: 500;
  opacity: 0.92;
  color: #010100;
}

.book-page__article-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 11vh 1fr;
      grid-template-rows: 11vh 1fr;
  margin: 3% 0;
  border-right: 1px solid #a7beae;
  font-family: "Cardo", "Noto Sans JP", sans-serif;
}

.book-page__navigation {
  grid-column: 1/-1;
  width: 80%;
  margin: 0 2% 0 auto;
  background-color: transparent;
}

.book-page__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.book-page__navigation-list-item {
  position: relative;
  width: 30%;
  height: 90%;
}

.book-page__navigation-list-item-btn {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.232);
  background-color: #a46715;
  font-size: 1rem;
  font-family: "Cardo", "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.book-page__navigation-list-item-btn .arrow {
  position: absolute;
  left: 50%;
  top: 65%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0.6;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.book-page__navigation-list-item-btn:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.book-page__navigation-list-item-btn:hover .arrow {
  opacity: 0.4;
  -webkit-transform: translate(-50%, 68%);
          transform: translate(-50%, 68%);
}

.book-page__navigation-list-item .date {
  pointer-events: none;
}

.book-page__navigation-list-item .window-to {
  position: absolute;
  left: 10%;
  top: 100%;
  background-color: green;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 16vw;
  height: 15vw;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.book-page__navigation-list-item .window-to.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.book-page__article-info {
  margin: 3% 0;
  font-family: "Cardo", "Noto Sans JP", sans-serif;
}
/*# sourceMappingURL=Book.css.map */