a,
button {
  text-decoration: none;
  color: #050301;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  cursor: pointer;
}

a .every-line,
button .every-line {
  width: 100%;
  height: 0.04rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  background-color: #050301;
  opacity: 0.7;
}

a:hover .every-line,
a .every-line.active,
button:hover .every-line,
button .every-line.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.book-page {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 20vh 1fr;
      grid-template-rows: 20vh 1fr;
}

.book-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
  margin: 0 10%;
  border-bottom: 0.04rem solid #a7beae;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-page__title-h1 {
  position: absolute;
  font-size: 6.25rem;
  font-weight: 500;
  opacity: 0.92;
  color: #050301;
}

.book-page__article-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 11vh 1fr;
      grid-template-rows: 11vh 1fr;
  margin: 3% 0;
  border-right: 0.04rem solid #a7beae;
  font-family: "Cardo", "Noto Sans JP", sans-serif;
  overflow: hidden;
}

.book-page__article-select .window-to {
  position: relative;
  margin: 6vh 3vw 0 3vw;
  padding: 1vh 0.88vw;
  -webkit-transform: translateY(3%);
          transform: translateY(3%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  grid-row: 2/-1;
  pointer-events: none;
  opacity: 0;
  background-color: #d8d0bf;
}

.book-page__article-select .window-to.active {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.book-page__article-select .select-guest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 0.733rem;
}

.book-page__article-select .select-guest h3 {
  font-size: 0.933rem;
}

.book-page__article-select .select-guest__counter {
  margin: 0.2vw auto 0 auto;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-page__article-select .select-guest__counter--disable {
  background-color: #f4f1f1;
  pointer-events: none;
  opacity: 0.6;
}

.book-page__article-select .select-guest__counter-result {
  font-size: 0.866rem;
  font-weight: 700;
}

.book-page__article-select .select-guest__counter-minus {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-page__article-select .select-guest__counter-minus .icon {
  padding: 0.4vw 0.5vw;
}

.book-page__article-select .select-guest__counter-minus .icon path {
  pointer-events: none;
}

.book-page__article-select .select-guest__counter-minus:hover {
  background-color: #f4f1f1;
  cursor: pointer;
}

.book-page__article-select .select-guest__counter-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.book-page__article-select .select-guest__counter-plus .icon {
  padding: 0.8vh 0.5vw;
}

.book-page__article-select .select-guest__counter-plus .icon path {
  pointer-events: none;
}

.book-page__article-select .select-guest__counter-plus:hover {
  background-color: #f4f1f1;
  cursor: pointer;
}

.book-page__article-select .select-guest__description {
  text-align: center;
  font-size: 0.666rem;
}

.book-page__article-select .select-guest__adult {
  width: 100%;
  padding: 1vh 0.5vw;
  text-align: center;
}

.book-page__article-select .select-guest__child {
  width: 100%;
  padding: 1vh 0.5vw;
  text-align: center;
}

.book-page__article-select .select-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
  background: none;
  padding: 0;
  cursor: url("../pictures/cursor/right/icons8-back-to-50.png") 25 25, pointer;
}

.book-page__article-select .select-room--modifire {
  cursor: url("../pictures/cursor/right/icons8-next-page-50.png") 25 25, pointer;
}

.book-page__article-select .select-room .bgc-room {
  position: absolute;
  width: calc(100% + 64px);
  height: calc(100% + 64px);
  -webkit-transform: translate(-32px, -32px);
          transform: translate(-32px, -32px);
}

.book-page__article-select .select-room__info {
  padding: 0 2vh;
  background-color: #d8d0bf;
  height: 99%;
  width: 30%;
}

.book-page__article-select .select-room__info-name {
  font-size: 1rem;
  padding: 1.5vh 0;
  border-bottom: 0.04rem solid rgba(189, 180, 170, 0.459);
}

.book-page__article-select .select-room__info-price {
  padding: 1vh 0;
  font-size: 0.866rem;
}

.book-page__article-select .select-room__info-price span {
  font-size: 0.733rem;
}

.book-page__article-select .select-room__info-details {
  font-size: 0.708rem;
}

.book-page__article-select .select-room__info__bedIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 8%;
  bottom: 8vh;
  width: 20%;
  font-size: 0.666rem;
}

.book-page__article-select .select-room__info__bedIcon img {
  margin: 0 0.5vw 0 1vw;
  width: 22%;
}

.book-page__article-select .select-room__pictures {
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.book-page__article-select .select-room__pictures img {
  -webkit-transform: scale(100%);
          transform: scale(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  -webkit-transition: 2s;
  transition: 2s;
}

.book-page__article-select .select-room__pictures img.next {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: secondImage 0.5s ease 1 forwards;
          animation: secondImage 0.5s ease 1 forwards;
}

.book-page__article-select .select-room__pictures img.prev {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: secondImage 0.5s ease 1 forwards;
          animation: secondImage 0.5s ease 1 forwards;
}

@-webkit-keyframes secondImage {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes secondImage {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.book-page__article-select .select-date {
  grid-column: 1/-1;
}

.book-page__article-select .select-date .calendar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-page__article-select .select-date .calendar #bedroomsBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 2vh;
  width: 50%;
}

.book-page__article-select .select-date .calendar #bedroomsBtn #one,
.book-page__article-select .select-date .calendar #bedroomsBtn #two {
  border: none;
  font-size: 0.633rem;
  margin: 2vh 1vw;
  padding: 0.3vh 0.3vw;
  background: transparent;
  height: 100%;
  font-family: "Cardo", "Noto Sans JP", sans-serif;
  font-weight: 700;
}

.book-page__article-select .select-date .calendar #bedroomsBtn[disable="false"] {
  pointer-events: none;
  opacity: 0;
}

.book-page__navigation {
  grid-column: 1/-1;
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
  background-color: transparent;
}

.book-page__navigation-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.book-page__navigation-list-item {
  position: relative;
  width: 30%;
  height: 90%;
  -webkit-clip-path: inset(-100vw -100vw -100vw 0);
          clip-path: inset(-100vw -100vw -100vw 0);
}

.book-page__navigation-list-item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  background-color: #a46715;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.book-page__navigation-list-item[disable="true"] {
  opacity: 0.7;
}

.book-page__navigation-list-item[disable="true"]::after {
  content: "select a room first";
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 0.8em;
  text-align: center;
  opacity: 0;
}

.book-page__navigation-list-item[disable="true"] > button {
  background-color: rgba(122, 122, 122, 0.156);
  border: 0.04rem solid rgba(0, 0, 0, 0.232);
  pointer-events: none;
}

.book-page__navigation-list-item[disable="true"]:hover.li::before {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.book-page__navigation-list-item[disable="true"]:hover.li::after {
  opacity: 1;
}

.book-page__navigation-list-item:hover.li::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.book-page__navigation-list-item-btn {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  font-family: "Cardo", "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 0.04rem solid black;
}

.book-page__navigation-list-item-btn span {
  font-size: 0.666rem;
}

.book-page__navigation-list-item #biggerFontSize {
  font-size: 0.666rem;
}

.book-page__article-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  margin: 3% 0;
  padding: 0 4%;
  font-family: "Cardo", "Noto Sans JP", sans-serif;
}
/*# sourceMappingURL=Book.css.map */